@import "reset.scss";
@import "slider.scss";

$bg-bark-blue-color: #2c3e50;
$bg-light-green: #27ae60;
$bg-button-header-green: #249f58;
$bg-button-header-green-hover: #35c371;
$bg-button-green: #24a058;
$text-color: #444444;
$border-input-color: #c4c4c4;
$bg-input-color: #f5f5f5;

*,
input,
select {
  box-sizing: border-box;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

body {
  color: $text-color;
}
.wrapper {
  min-height: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo-link {
  font-weight: 900;
  font-size: 18px;
  color: $bg-light-green;
  text-transform: uppercase;
}

.button {
  border-radius: 3px;
  padding: 11px 21px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  cursor: pointer;
}

.header {
  background-color: $bg-bark-blue-color;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 44px;
  }

  &__logo-link {
    background-color: #fff;
    padding: 13px 25px;
    letter-spacing: 1px;
  }

  &__link {
    color: #ffffff;
    margin: 0 20px;
  }

  &__button {
    background-color: $bg-button-header-green;
    font-size: 15px;
    font-weight: 500;

    &:hover {
      background-color: $bg-button-header-green-hover;
    }
  }
}

.main {
  &__description-wrapper {
    display: flex;
    padding: 44px 0 80px;
  }

  &__article {
    flex: 1 1 50%;
  }

  &__title {
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    color: $bg-bark-blue-color;
  }

  &__text {
    font-weight: 100;
    line-height: 1.4;
    padding-right: 100px;
  }

  &__foto {
    flex: 1 1 50%;
  }

  &__form {
    background-color: #f3f2f2;
  }
}

.main-photo {
  &__title {
    font-weight: 100;
    font-size: 8px;
    margin-bottom: 10px;
  }
}

.form-wrapper {
  background-image: url(../img/shutterstock_130423430-3.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  min-height: 520px;
  padding-top: 80px;
}

.form {
  background-color: #fff;
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  &__input-wrapper {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 25px;
    letter-spacing: 3px;
    margin: 28px auto;
    font-weight: 100;
  }

  &__input,
  &__select {
    min-width: 300px;
    font-size: 16px;
    padding: 16px 21px 19px;
    border: 1px solid transparent;
    border-top: 1px solid $border-input-color;
    background-color: $bg-input-color;
    border-radius: 3px;
  }

  &__button {
    background-color: $bg-light-green;
    margin: 20px auto 32px;

    &:hover {
      background-color: $bg-button-header-green-hover;
    }
  }
}

.footer {
  background-color: $bg-bark-blue-color;

  &__rights {
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 44px;
  }
}
